

  <div class="logo">
    <img src="assets/images/logos/logo_mycelium_sombra.svg">
  </div>

  <div class="title">Registro de Usuario</div>

  <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
    <a mat-raised-button class="orcid" [href]="orcidURL" style="background-color: #a6ce39;">
      Ingresa con ORCID iD
    </a>
    <!---->
    <div [loader]="loadingFacebook" loadSize="20px">
      <button mat-raised-button class="facebook" style="margin-left: 25px;" (click)="checkFBLoginState()">
        Ingresa con Facebook
      </button>
    </div>

    <div [loader]="loadingGoogle" loadSize="20px">
      <button mat-raised-button class="google" style="margin-left: 25px;" (click)="loginGoogle()">
        Ingresa con Google
      </button>
    </div>

  </div>

  <form [formGroup]="usuarioFormGroup" class="mt-8">
    <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column">
      <mat-form-field fxFlex="100">
        <mat-label>Email</mat-label>
        <input matInput formControlName="mail" type="email"  autocomplete="off">
        <mat-error *ngIf="usuarioFormGroup.get('mail').hasError('required')">
          Este dato es obligatorio.
        </mat-error>
        <mat-error *ngIf="usuarioFormGroup.get('mail').hasError('email')">
          Tiene que ser un correo válido.
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column">
      <mat-form-field   fxFlex="100">
        <input type="password" placeholder="Contraseña" matInput formControlName="password"  (keyup)="onKey()"  autocomplete="new-password" >
        <div class="alternate-theme">
          <mat-progress-bar [color]="colorPassword" [value]="valuePassword"></mat-progress-bar>
        </div>
        <mat-hint>
          {{passwordMessage}}
        </mat-hint>
        <mat-error *ngIf="usuarioFormGroup.get('password').hasError('matchPassword')">
          No coinciden las contraseñas.
        </mat-error>
        <mat-error *ngIf="usuarioFormGroup.get('password').hasError('required')">
          Este dato es obligatorio.
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column">
      <mat-form-field   fxFlex="100">
        <mat-label>Repita su Constraseña</mat-label>
        <input matInput type="password" formControlName="passwordConfirm"  (keyup)="onKey()"  autocomplete="new-password" >
        <div class="alternate-theme">
          <mat-progress-bar [color]="colorPassword" [value]="valuePassword"></mat-progress-bar>
        </div>
        <mat-hint>
          {{passwordMessage}}
        </mat-hint>
        <mat-error *ngIf="usuarioFormGroup.get('passwordConfirm').hasError('matchPassword')">
          No coinciden las contraseñas.
        </mat-error>
        <mat-error *ngIf="usuarioFormGroup.get('passwordConfirm').hasError('required')">
          Este dato es obligatorio.
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column">
      <mat-form-field fxFlex="100">
        <mat-label>Nombres</mat-label>
        <input matInput  formControlName="name"  autocomplete="off" >
      </mat-form-field>
    </div>
    <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column">
      <mat-form-field fxFlex="100">
        <mat-label>Apellidos</mat-label>
        <input matInput  formControlName="lastname"  autocomplete="off" >
      </mat-form-field>
    </div>
    <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column">
      <mat-form-field fxFlex="100">
        <mat-label>Rol</mat-label>
        <mat-select formControlName="role" [compareWith]="compareObj">
          <mat-option *ngFor="let rol of roles" [value]="rol">
            {{rol.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="usuarioFormGroup.get('role').hasError('required')">
          Este dato es obligatorio.
        </mat-error>
      </mat-form-field>  
    </div>  

    <button mat-raised-button color="accent" class="submit-button" (click)="register()"
            [disabled]="usuarioFormGroup.invalid">
      Registra tu Cuenta
    </button>

  </form>

  <div class="register" fxLayout="column" fxLayoutAlign="center center">
    <span class="text">Ya tengo una cuenta.</span>
    <a class="link" [routerLink]="'/login'">Ingresar</a>
  </div>

