<div *ngIf="responseService == 'alert-succesful'" style="padding: 35px;">

  <h1 mat-dialog-title *ngIf="icon" fxLayoutAlign="center center">
    <mat-icon style=" width: 100px; height: 100px;" svgIcon="success" [inline]="true"></mat-icon>
  </h1>

  <h2 mat-dialog-title style="text-align:  center;">
    <b>{{header}}</b>
  </h2>

  <div mat-dialog-content style="text-align: center;">
    {{message}}
  </div>

  <div mat-dialog-actions style="text-align:  center;  margin-top: 25px;">
    <button mat-raised-button mat-dialog-close color="primary" (click)="confirmacionAlerta(true)">Cerrar</button>
  </div>

</div>

<div *ngIf="responseService == 'alert-error'" style="padding: 35px;" >

  <h1 mat-dialog-title *ngIf="icon" fxLayoutAlign="center center">
    <mat-icon style=" width: 100px; height: 100px;" svgIcon="error" [inline]="true"></mat-icon>
  </h1>

  <h2 mat-dialog-title style="text-align:  center;"><b>{{header}}</b></h2>

  <div mat-dialog-content style="text-align:  center;">{{message}}</div>

  <div mat-dialog-content style="text-align:  center;"><b>{{errormessage}}</b></div>

  <div mat-dialog-content style="text-align:  center;" *ngIf="errors!=null && errors.length>0">
    <h3>Errores:</h3>

    <p *ngFor="let error of errors">
      <mat-icon style="font-size: 10px;">play_circle_filled</mat-icon>
      <span><b>{{getFiled(error.field)}}:</b></span>
      <span>&nbsp;&nbsp;&nbsp;{{error.path}}</span>
    </p>

  </div>

  <div mat-dialog-actions style="text-align:  center; margin-top: 25px;">

    <button mat-raised-button mat-dialog-close color="primary" (click)="dialogRef.close()">Cerrar</button>

  </div>

</div>


<div *ngIf="responseService == 'alert-confirmed'" style="padding: 35px;">

  <h1 mat-dialog-title *ngIf="icon" fxLayoutAlign="center center">
    <mat-icon style=" width: 100px; height: 100px;" svgIcon="alert" [inline]="true"></mat-icon>
  </h1>

  <h2 mat-dialog-title style="text-align:  center;"><b>{{header}}</b></h2>

  <div mat-dialog-content style="text-align:  center;">{{message}}</div>

  <div mat-dialog-actions  style="text-align: center; margin-top: 25px;" fxLayoutGap="35px" >

    <button mat-mini-fab  color="primary"  (click)="confirmacionAlerta(true)"> <mat-icon>done</mat-icon> </button>
    <button mat-mini-fab  color="warn"  (click)="confirmacionAlerta(false)">   <mat-icon>clear</mat-icon> </button>

  </div>

</div>



