<h1 mat-dialog-title style="text-align:  center;">
  Upss!
</h1>
<div mat-dialog-content style="text-align: center;">
  Tu usuario aún no ha sido activado. Para activarlo revisa tu bandeja de entrada o ingresa a este link para reenviar el código de activación.
</div>
<p>&nbsp;</p>
<div mat-dialog-actions style="text-align:  center;">
  <button mat-button mat-dialog-close (click)="dialogRef.close()">Cerrar</button>
  <button mat-button  [routerLink]="'/register/verify-email'" (click)="dialogRef.close()" style="margin-left: 15px" >Reenviar Código de Activación</button>
</div>



