<div class="page-layout simple left-sidenav fullwidth" fusePerfectScrollbar>
  <mat-sidenav-container>
    <!-- CENTER -->
    <div class="center mat-primary-50-bg p-24" fusePerfectScrollbar>

      <!-- HEADER -->
      <div class="headers p-24">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
          <div fxLayoutAlign="start center">
            <button mat-icon-button>
              <mat-icon>group</mat-icon>
            </button>
            <div style="margin-left: 15px;">
              <h2><b>Usuarios</b></h2>
            </div>
          </div>
          <div fxLayoutAlign="start center">
            <button [routerLink]="['../administracion/nuevo']" class="header-button" mat-raised-button>
              <mat-icon>add_box</mat-icon>
              Nuevo Usuario
            </button>
          </div>
        </div>
      </div>
      <!-- / HEADER -->

      <div class="content-card mat-white-bg fllscrn mat-elevation-z4" fusePerfectScrollbar>

        <div fxFlex="100" fxFlex.sm="100" fxFlex.xs="100">

          <div class="p-24 pb-0">
            <mat-form-field appearance="outline" fxFlex="100" style="width: 100%">
              <mat-label>Filtra tus Usuarios</mat-label>
              <input (keyup)="applyFilter($event.target.value)" matInput placeholder="">
            </mat-form-field>
          </div>

          <mat-table [dataSource]="listadata" fxFlex="100" matSort>

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center" mat-sort-header>Nombres</mat-header-cell>
              <mat-cell (click)="detail(element.id)" *matCellDef="let element" fxLayoutAlign="center center">
                {{element.name}}
              </mat-cell>
            </ng-container>

            <!-- lastname Column -->
            <ng-container matColumnDef="lastname">
              <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center" mat-sort-header>Apellidos
              </mat-header-cell>
              <mat-cell (click)="detail(element.id)" *matCellDef="let element" fxLayoutAlign="center center">
                {{element.lastname}}
              </mat-cell>
            </ng-container>

            <!-- email Column -->
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center" mat-sort-header> Correo Electrónico
              </mat-header-cell>
              <mat-cell (click)="detail(element.id)" *matCellDef="let element" fxLayoutAlign="center center">
                {{element.email}}
              </mat-cell>
            </ng-container>

            <!-- Opciones Column -->
            <ng-container matColumnDef="options">
              <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center"> Opciones</mat-header-cell>
              <mat-cell *matCellDef="let element" fxLayoutAlign="center center" fxLayoutGap="10px">
                <button (click)="autorizacion()" *ngIf="id_user == element.id" mat-icon-button>
                  <mat-icon>person</mat-icon>
                </button>
                <button (click)="delete(element.id)" *ngIf="id_user != element.id" mat-icon-button
                        style="color:#b11e1eba">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" class="likebutton"></mat-row>
          </mat-table>
          <mat-card *ngIf="listadata == null" fxFlex="100" fxLayout="row" fxLayoutAlign="center center"
                    style="height: 60px;">
            <p>No hay datos para mostrar.</p>
          </mat-card>

          <paginator (change)="paging($event)" [data]="usuarios" fxFlex="100%"></paginator>
        </div>
      </div>
      <!-- CONTENT -->
    </div>
    <!-- / CENTER -->
  </mat-sidenav-container>
</div>


