<mat-toolbar matDialogTitle class="m-0">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title dialog-title">Nueva Entrada</span>
    <span class="title dialog-title">&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <div fxLayoutGap="10px">
      <button mat-icon-button color="primary" (click)="cerrar()"><mat-icon style="width: 30px; height: 30px;" svgIcon="close-dialog" [inline]="true"></mat-icon></button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<div mat-dialog-content class="p-24 pb-8 m-0">

    <div fxLayout="column" fxLayoutAlign="center">

      <barcode-scanner-livestream type="code_39" (valueChanges)="onValueChanges($event)"></barcode-scanner-livestream>
      <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="5px">
      <mat-form-field class="pt-12" appearance="outline" fxFlex="50">
        <mat-label>BUSCAR PERSONA ....</mat-label>
        <input (keypress)="onEnter($event)"  matInput [(ngModel)]="barcodeValue" >

      </mat-form-field>
      <div fxFlex="50" fxLayoutAlign="center center">
          <button mat-raised-button color="primary" (click)="buscarPersona(null, barcodeValue)">BUSCAR</button>
      </div>
      </div>
    </div>

    <div *ngIf="nuevaPersona == 'SIN_BUSQUEDA'" fxLayout="column" fxLayoutAlign="center">
      <div class="Message Message--orange">
        <div class="Message-icon">
          <i class="fa fa-exclamation"></i>
        </div>
        <div class="Message-body">
          <p>Puedes buscar por tu DNI o Carnet SUNEDU</p>
        </div>
      </div>
    </div>

    <div *ngIf="nuevaPersona == 'PERSONA_ENCONTRADA'" fxLayout="column" fxLayoutAlign="center">
      <div class="Message Message--green">
        <div class="Message-icon">
          <i class="fa fa-exclamation"></i>
        </div>
        <div class="Message-body">
          <p>Se encontro una coincidencia!</p>
        </div>
      </div>
      <div class="pt-12">
        <mat-card class="p-0">
        <mat-card-header style="background: #3b4866;">
          <span class="px-0 py-8" style="color: white"> Información Personal</span>
        </mat-card-header>
        <mat-card-content class="p-12">
          <div fxFlex="100" fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column">
              <div class="rowdescription" fxLayout="row">
                <span class="title">Nombre y Apellidos: &nbsp;&nbsp;&nbsp;</span>
                <span class="description">{{personaBuscada.apellidos}}, {{personaBuscada.nombre}}</span>
              </div>
              <div class="rowdescription" fxLayout="row">
                <span class="title">{{personaBuscada.tipo_doc.dato}}: &nbsp;&nbsp;&nbsp;</span>
                <span class="description">{{personaBuscada.numero}}</span>
              </div>
              <div *ngIf="personaBuscada.tipo_idcarrera.length>0" class="rowdescription" fxLayout="row">
                <span class="title">Carreras: &nbsp;&nbsp;&nbsp;</span>
                <span class="description">{{personaBuscada.tipo_idcarrera.length>0 ?
                  (personaBuscada.tipo_idcarrera[0] == undefined ? '' : personaBuscada.tipo_idcarrera[0].tipo_percarrera.nombre ) + '   ' +
                  (personaBuscada.tipo_idcarrera[1] == undefined ? '' : personaBuscada.tipo_idcarrera[1].tipo_percarrera.nombre ) + '   ' +
                  (personaBuscada.tipo_idcarrera[2] == undefined ? '' : personaBuscada.tipo_idcarrera[2].tipo_percarrera.nombre ) : ' '}}</span>
              </div>
              <div *ngIf="personaBuscada.sunedu" class="rowdescription" fxLayout="row">
                <span class="title">Carnet SUNEDU: &nbsp;&nbsp;&nbsp;</span>
                <span class="description">{{personaBuscada.sunedu}}</span>
              </div>
              <div *ngIf="personaBuscada.tipo_persona" class="rowdescription" fxLayout="row">
                <span class="title">Tipo de Persona: &nbsp;&nbsp;&nbsp;</span>
                <span class="description">{{personaBuscada.tipo_persona.dato}}</span>
              </div>
            </div>
          </div>
        </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div *ngIf="nuevaPersona == 'PERSONA_NO_ENCONTRADA'" fxLayout="column" fxLayoutAlign="center">
      <div class="pb-12">
        <div class="Message Message--red">
          <div class="Message-icon">
            <i class="fa fa-exclamation"></i>
          </div>
          <div class="Message-body">
            <p>No se encontraron coincidencias. Por favor registre la visita.</p>
          </div>
        </div>
      </div>
    <form [formGroup]="personaFG">
      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">

        <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="5">

          <mat-form-field appearance="outline" fxFlex="48" fxFlex.xs="100"  >
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" placeholder="Input">
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="48" fxFlex.xs="100"  >
            <mat-label>Apellidos</mat-label>
            <input matInput formControlName="apellidos" placeholder="Input">
          </mat-form-field>

        </div>

        <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="5">

          <mat-form-field appearance="outline" fxFlex="48" fxFlex.xs="100">
            <mat-label>Tipo de Documento</mat-label>
            <mat-select formControlName="tipodoc_id">
              <mat-option *ngFor="let tipodoc of tipodoc" [value]="tipodoc.value">
                {{tipodoc.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="48" fxFlex.xs="100"  >
            <mat-label>Nùmero de Documento</mat-label>
            <input formControlName="numero" matInput placeholder="Input">
          </mat-form-field>

        </div>
      </div>
    </form>

  </div>
  <div class="pt-12" *ngIf="nuevaPersona == 'PERSONA_NO_ENCONTRADA' || visita == 'VISITANTE'" fxLayout="column" fxLayoutAlign="center">
    <form [formGroup]="entradaFG">
      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="5">
          <mat-form-field fxFlex="100" appearance="outline">
            <mat-label>Descripcion del lugar</mat-label>
            <textarea matInput formControlName="motivo" autocomplete="off"> </textarea>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>

</div>

<div mat-dialog-actions class="m-0" fxLayout="row" fxLayoutAlign="center center">
  <button *ngIf="visita == 'VISITANTE' || nuevaPersona == 'PERSONA_NO_ENCONTRADA'" mat-raised-button color="primary"   (click)="crearpersona()"> <mat-icon>save</mat-icon> Guardar </button>
  <button *ngIf="barcodeValue!=null" mat-raised-button color="primary"   (click)="levantarEscaner()"> <mat-icon>camera_alt</mat-icon> Seguir Leyendo </button>
</div>







