

<div class="logo" fxLayout="column" fxLayoutAlign="center center">
  <img src="assets/images/logos/scentinetspinner.png">
</div>

<div class="title">Recupera tu contraseña</div>
<form [formGroup]="mailFormGroup">
  <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
    <mat-form-field   fxFlex="100">
      <input matInput formControlName="email" placeholder="Correo Electrónico" autocomplete="off" >
      <mat-error *ngIf="mailFormGroup.get('email').hasError('required')">
        Este dato es obligatorio.
      </mat-error>
      <mat-error *ngIf="mailFormGroup.get('email').hasError('email')">
        Tiene que ser un correo válido.
      </mat-error>
    </mat-form-field>
  </div>
  <div [loader]="loader" loadSize="20px">
    <button mat-raised-button color="accent" class="submit-button" (click)="registrar()"
            [disabled]="mailFormGroup.invalid">
      Enviar correo de recuperación
    </button>
  </div>

</form>

<div class="register" fxLayout="column" fxLayoutAlign="center center">  
  <a class="link" [routerLink]="'/login'">Volver a ingresar mis datos</a>
</div>

