
<mat-toolbar matDialogTitle class="m-0">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title dialog-title">Editar Persona</span>
    <span class="title dialog-title">&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <button mat-icon-button color="primary" (click)="cerrar()"><mat-icon style="width: 30px; height: 30px;" svgIcon="close-dialog" [inline]="true"></mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>

<div mat-dialog-content class="p-24 pb-0 m-0">

  <div fxLayout="column" fxLayoutAlign="center">
    <form [formGroup]="personafromgroup">
      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="5">
          <mat-form-field appearance="outline" fxFlex="48" fxFlex.xs="100"  >
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="48" fxFlex.xs="100"  >
            <mat-label>Apellidos</mat-label>
            <input matInput formControlName="apellidos">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="5">


          <mat-form-field appearance="outline" fxFlex="48" fxFlex.xs="100">
            <mat-label>Tipo de Documento</mat-label>
            <mat-select formControlName="tipodoc_id">
              <mat-option *ngFor="let tipodoc of tipodoc" [value]="tipodoc.value">
                {{tipodoc.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="48" fxFlex.xs="100"  >
            <mat-label>Nùmero de Documento</mat-label>
            <input formControlName="numero" matInput>
          </mat-form-field>

        </div>

        <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="5">

          <mat-form-field *ngIf="((condicion == 'ALUMNO') || (condicion == 'PROFESOR'))" appearance="outline" fxFlex="48" fxFlex.xs="100">
            <mat-label>Carrera</mat-label>
            <mat-select [compareWith]="compareObj" formControlName="tipocarrera_id" multiple>
              <mat-option *ngFor="let tipocar of tipocar" [value]="tipocar" >
                {{tipocar.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="48" fxFlex.xs="100">
            <mat-label>Tipo de Persona</mat-label>
            <mat-select  (selectionChange)="condicionales($event.value)"  formControlName="tipopersona_id">
              <mat-option *ngFor="let tipoper of tipoper" [value]="tipoper.value">
                {{tipoper.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="5">

          <mat-form-field  *ngIf="condicion == 'ALUMNO'" appearance="outline" fxFlex="100">
            <mat-label>SUNEDU</mat-label>
            <input formControlName="sunedu" matInput>
          </mat-form-field>

        </div>

      </div>

    </form>
  </div>

</div>

<div mat-dialog-actions class="m-12" fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button color="primary"   (click)="actualizar()"> <mat-icon>save</mat-icon> Editar </button>
</div>







