<div class="center mat-primary-50-bg p-24 scrn">

  <!-- HEADER -->
  <div class="headers p-12" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayoutAlign="start center">
      <div style="margin-left: 15px;">
        <h2><b>Crear Usuario</b></h2>
        <div fxlayout="row" fxlayoutalign="start center"
             style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;margin-bottom: 10px;">
          <mat-icon class="secondary-text s-18 mat-icon material-icons mat-icon-no-color" role="img"
                    style="color:#fff9;">home
          </mat-icon>
          <mat-icon aria-hidden="true" class="secondary-text s-16 mat-icon material-icons mat-icon-no-color" role="img"
                    style="color:#fff9;">chevron_right
          </mat-icon>
          <span [routerLink]="['../']" class="secondary-text bread" style="color:#fff9;">Lista de Usuarios</span>
          <mat-icon aria-hidden="true" class="secondary-text s-16 mat-icon material-icons mat-icon-no-color" role="img"
                    style="color:#fff9;">chevron_right
          </mat-icon>
          <span class="secondary-text" style="color:#fff9; font-weight: 500;">Crear Usuario</span>
        </div>
      </div>
    </div>
  </div>
  <!-- / HEADER -->
  <!-- CONTENT -->
  <div class="content-card mat-white-bg fllscrn mat-elevation-z4 sct">

    <div class="p-24">

      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">

        <div fxFlex="70" fxFlex.md="80" fxFlex.sm="100" fxFlex.xs="100" fxLayout="column" fxLayout.xs="column">

          <form [formGroup]="usuariosformgroup" fxFlex="100">

            <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">
              <mat-form-field appearance="outline" fxFlex="48" fxFlex.fx="100" style="width:100%">
                <mat-label>Nombre</mat-label>
                <input autocomplete="off" formControlName="name" matInput>
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex="48" fxFlex.fx="100" style="width:100%">
                <mat-label>Apellido</mat-label>
                <input autocomplete="off" formControlName="lastname" matInput>
              </mat-form-field>
            </div>

            <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">
              <mat-form-field appearance="outline" fxFlex="48" fxFlex.xs="100" style="width:100%">
                <mat-label>Correo electrónico</mat-label>
                <input autocomplete="off" formControlName="email" matInput>
                <mat-error *ngIf="usuariosformgroup.get('email').invalid">Correo eletrónico incorrecto</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex="48" fxFlex.xs="100" style="width:100%">
                <mat-label>Contraseña</mat-label>
                <input autocomplete="off" formControlName="password" matInput type="password">
              </mat-form-field>
            </div>

            <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">
              <mat-form-field appearance="outline" fxFlex="48" fxFlex.xs="100" style="width:100%">
                <mat-label>Rol</mat-label>
                <mat-select formControlName="role_id">
                  <mat-option *ngFor="let role of roleArr" [ngClass]="{'disabled_option':role.id==1}" [value]="role.id">
                    {{role.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </form>

          <div fxFlex="100" fxHide.xs fxLayout="row" fxLayoutAlign="space-around center" fxShow>
            <div fxFlex="48" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="star center">
              <button (click)="save(true)" [disabled]="usuariosformgroup.invalid" color="primary" mat-raised-button>
                <mat-icon>save</mat-icon>
                Guardar y continuar creando
              </button>
            </div>
            <div fxFlex="48" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
              <button (click)="save(false)" [disabled]="usuariosformgroup.invalid" color="primary" mat-raised-button>
                <mat-icon>save</mat-icon>
              </button>
              <button [routerLink]="['../']" color="warn" mat-raised-button>
                <mat-icon>clear</mat-icon>
              </button>
            </div>
          </div>

          <div fxFlex="100" fxHide fxLayout="column" fxLayoutAlign="space-around center" fxShow.xs>
            <button (click)="save(false)" [disabled]="usuariosformgroup.invalid" class="m-24" color="primary"
                    mat-raised-button>
              <mat-icon>save</mat-icon>
              Guardar
            </button>
            <button [routerLink]="['../']" class="m-24" color="warn" mat-raised-button>
              <mat-icon>clear</mat-icon>
              Cancelar
            </button>
            <button (click)="save(true)" [disabled]="usuariosformgroup.invalid" class="m-24" color="primary"
                    mat-raised-button>
              <mat-icon>save</mat-icon>
              Guardar y continuar creando
            </button>
          </div>
        </div>

      </div>

    </div>
  </div>
  <!-- / CONTENT -->
</div>
