<div class="page-layout simple left-sidenav fullwidth" fusePerfectScrollbar>
  <mat-sidenav-container>
    <!-- CENTER -->
    <div class="center mat-primary-50-bg p-24" fusePerfectScrollbar>

      <!-- HEADER -->
      <div class="headers p-24">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
          <div fxLayoutAlign="start center">
            <button mat-icon-button>
              <mat-icon>group</mat-icon>
            </button>
            <div style="margin-left: 15px;">
              <h2><b>Lista de Personas</b></h2>
            </div>
          </div>
          <div fxLayoutAlign="start center" fxLayoutGap="5"  appearance="outline">
            <button (click)="openDialog()" class="header-button" mat-raised-button style="margin: 10px">
              <mat-icon>add_box</mat-icon>
              Nueva Persona
            </button>
          </div>

        </div>
      </div>
      <!-- / HEADER -->

      <div class="content-card mat-white-bg fllscrn mat-elevation-z4" fusePerfectScrollbar>

        <div fxFlex="100" fxFlex.sm="100" fxFlex.xs="100">

          <div class="p-24 pb-0" fxLayoutGap="10px" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="44" style="width: 100%">
              <mat-label>Filtra tus Usuarios</mat-label>
              <input (keypress)="onEnter($event)"  [(ngModel)]="nombrePersona"  matInput placeholder="">
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="44" style="width: 100%">
              <mat-label>Filtra tus Usuarios</mat-label>
              <mat-select [(value)]="tipoPersonaSelecionado">
                <mat-option value="0">TODOS</mat-option>
                <mat-option *ngFor="let tipo of tipoPersona" [value]="tipo.value">
                  {{tipo.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div fxFlex="100" fxFlex.gt-xs="10" fxLayoutAlign="center start">
              <button mat-raised-button color="accent" (click)="cargarData(1, 10)">Buscar</button>
            </div>
          </div>

<!--          <div class="p-24 pt-0" fxLayoutGap="10px" fxLayout="row wrap" fxLayoutAlign="end center">-->
<!--          -->
<!--          </div>-->

          <mat-table [dataSource]="listadata" fxFlex="100">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center">Nombres</mat-header-cell>
              <mat-cell  (click)="openDialogDetalle(element)" *matCellDef="let element" fxLayoutAlign="center center">
                {{element.nombre}}
              </mat-cell>
            </ng-container>

            <!-- lastname Column -->
            <ng-container matColumnDef="lastname">
              <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center">Apellidos
              </mat-header-cell>
              <mat-cell (click)="openDialogDetalle(element)"  *matCellDef="let element" fxLayoutAlign="center center">
                {{element.apellidos}}
              </mat-cell>
            </ng-container>

            <!-- carrera Column -->
            <ng-container matColumnDef="carrera">
              <mat-header-cell fxHide fxShow.gt-sm *matHeaderCellDef fxLayoutAlign="center center">Carrera
              </mat-header-cell>
              <mat-cell fxHide fxShow.gt-sm (click)="openDialogDetalle(element)"  *matCellDef="let element" fxLayoutAlign="center center">
                {{element.tipo_idcarrera.length>0 ?
                (element.tipo_idcarrera[0] == undefined ? '' : element.tipo_idcarrera[0].tipo_percarrera.nombre ) + '   ' +
                (element.tipo_idcarrera[1] == undefined ? '' : element.tipo_idcarrera[1].tipo_percarrera.nombre ) + '   ' +
                (element.tipo_idcarrera[2] == undefined ? '' : element.tipo_idcarrera[2].tipo_percarrera.nombre ) : ' '}}
              </mat-cell>
            </ng-container>



            <!-- tipodocumento Column -->
            <ng-container  matColumnDef="persona">
              <mat-header-cell fxHide fxShow.gt-sm *matHeaderCellDef fxLayoutAlign="center center"> Persona
              </mat-header-cell >
              <mat-cell fxHide fxShow.gt-sm  (click)="openDialogDetalle(element)"  *matCellDef="let element" fxLayoutAlign="center center">
                {{element.tipo_persona == null ? 'no' : element.tipo_persona.dato }}
              </mat-cell>
            </ng-container>


            <!-- tipodocumento Column -->
            <ng-container matColumnDef="document">
              <mat-header-cell fxHide fxShow.gt-sm *matHeaderCellDef fxLayoutAlign="center center"> Tipo de Documento
              </mat-header-cell>
              <mat-cell fxHide fxShow.gt-sm (click)="openDialogDetalle(element)"  *matCellDef="let element" fxLayoutAlign="center center">
                {{element.tipo_doc == null ? 'no' : element.tipo_doc.dato }}
              </mat-cell>
            </ng-container>

            <!-- email Column -->
            <ng-container matColumnDef="numero">
              <mat-header-cell fxHide fxShow.gt-sm *matHeaderCellDef fxLayoutAlign="center center"> Numero de Documento
              </mat-header-cell>
              <mat-cell fxHide fxShow.gt-sm (click)="openDialogDetalle(element)"  *matCellDef="let element" fxLayoutAlign="center center">
                {{element.numero}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="eliminar">
              <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center"> Eliminar </mat-header-cell>
              <mat-cell *matCellDef="let element" fxLayoutAlign="center center" >
                <button mat-icon-button style="color:#b11e1eba" (click)="eliminarpersona(element.id)" ><mat-icon>delete</mat-icon></button>

              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" class="likebutton"></mat-row>
          </mat-table>
          <mat-card *ngIf="listadata == null" fxFlex="100" fxLayout="row" fxLayoutAlign="center center"
                    style="height: 60px;">
            <p>No hay datos para mostrar.</p>
          </mat-card>
          <mat-paginator [length]="listadatacomplete ? listadatacomplete.total : 0"
                         [hidePageSize]="false"
                         [showFirstLastButtons]="true"
                         [pageSize]="listadatacomplete ? listadatacomplete.per_page: 0"
                         [pageSizeOptions]="[5, 10, 25, 50]"
                         #paginator></mat-paginator>
        </div>
      </div>
      <!-- CONTENT -->
    </div>
    <!-- / CENTER -->
  </mat-sidenav-container>
</div>


