@import "src/@fuse/scss/fuse";

.bread-home:hover {
  cursor: pointer;
}

.likebutton:hover {
  cursor: pointer;
  background: #f2f2f287;
}

.likebutton:active {
  cursor: pointer;
  background: #f2f2f2;
}

.fllscrn {
  width: 100%;
  height: 100%;
  //border-radius: 0px 0px 15px 15px;
}

.sidenav-titulo {
  font-size: 20px;
  line-height: 20px;
  color: #29324d;
}

.filtro {
  color: #43464d;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 24px;
}

.btns-actions {
  width: 105px;
  margin-bottom: 5px;
}

:host /deep/ .mat-select-value-text {
  color: black !important;
}

.n-show {
  display: none;
}

:host {
  .headers {
    background: #1a9dd9;
    background: linear-gradient(90deg, #1a9dd9 0%, #4bb9af 100%);
    position: relative;
    overflow: hidden;
  }
}
